/* sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }
input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: white; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::selection {
  background-color: #b3d4fc;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }
body {
  font: 16px/1.5 "Open Sans", Helvetica; }
  @media (max-width: 768px) {
    body {
      font-size: 14px; } }

.general-container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto; }

.side-navigation {
  position: fixed;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  z-index: 500;
  opacity: 0;
  transition: all 0.5s; }
  @media (max-width: 900px) {
    .side-navigation {
      display: none; } }

.side-navigation.seen {
  opacity: 1; }

.side-navigation__item {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #68238e;
  border-radius: 50%;
  margin: 20px 0;
  position: relative;
  transition: all 0.5s; }
  .side-navigation__item::before {
    content: attr(data-content);
    width: 110px;
    position: absolute;
    left: -120px;
    top: -5px;
    text-align: center;
    background-color: #68238e;
    color: white;
    font-size: 14px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s; }
  .side-navigation__item:hover::before {
    transform: scale(1);
    -webkit-transform: scale(1); }
  .side-navigation__item.active {
    background-color: #68238e; }

img {
  cursor: pointer; }

header {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: absolute;
  z-index: 2; }
  @media (max-width: 768px) {
    header {
      margin: 0;
      background-color: white; } }

.general-container--header {
  position: relative;
  height: 100%; }

.logo, .navigation {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white; }

.logo {
  left: 0;
  text-align: center;
  font-family: "Comfortaa";
  font-weight: 700; }
  @media (max-width: 768px) {
    .logo {
      color: #68238e;
      margin-left: 5px; } }

.navigation {
  right: 0; }

.navigation__item {
  margin-left: 15px;
  text-shadow: 1px 1px 5px #000;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.3s; }
  .navigation__item:link, .navigation__item:visited, .navigation__item:active {
    color: white; }
  .navigation__item:hover {
    color: #68238e;
    text-shadow: none; }
  @media (max-width: 768px) {
    .navigation__item {
      display: none; } }

.menu-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  display: none;
  text-align: center; }
  @media (max-width: 770px) {
    .menu-btn {
      display: block; } }
  .menu-btn span {
    display: block;
    width: 80%;
    height: 2px;
    background-color: #68238e;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 2px;
    margin: 0 auto; }
    .menu-btn span::after, .menu-btn span::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #68238e;
      position: absolute; }
    .menu-btn span::after {
      top: 7px; }
    .menu-btn span::before {
      top: -7px; }

.mobile-nav-wrapper {
  width: 100%;
  background-color: white; }

.mobile-navigation {
  display: none; }

.mobile-navigation.is-open {
  display: block;
  list-style: none;
  text-align: center;
  background-color: white;
  border-top: 1px solid #ccc; }

.mobile-navigation li a {
  display: inline-block;
  padding: 10px;
  width: 100%;
  font-weight: 300; }
  .mobile-navigation li a:active {
    background-color: #ccc;
    color: white; }

.welcome-section {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative; }

.slides, .slides__item {
  width: 100%;
  height: 100%; }

.slides {
  overflow: hidden;
  position: relative; }

.slides__item {
  position: absolute;
  background-size: cover;
  opacity: 0;
  transition: all 1s;
  background-position: center; }
  .slides__item:first-child {
    background-image: url(../img/karya.jpg); }
  .slides__item:nth-child(2) {
    background-image: url(../img/Guru.jpg); }
  .slides__item:last-child {
    background-image: url(../img/bermain.jpg); }

.slides__item.active {
  opacity: 1; }

.slides__item__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  font-family: "Comfortaa";
  text-align: center;
  text-shadow: 5px 5px 20px #000;
  background-color: rgba(41, 14, 56, 0.6); }
  @media (max-width: 768px) {
    .slides__item__title {
      font-size: 28px; } }
  @media (max-width: 550px) {
    .slides__item__title {
      font-size: 20px; } }

.slides-navigation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2000; }

.slides-navigation__item {
  display: inline-block;
  margin-right: 20px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #68238e;
  cursor: pointer; }
  .slides-navigation__item.active {
    background-color: #68238e; }

.show-me {
  display: block;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 50px;
  cursor: pointer;
  -webkit-animation: showMeAnimation 2s infinite;
  animation: showMeAnimation 2s infinite; }
  .show-me::before, .show-me::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 70px;
    background-color: #68238e;
    border-radius: 20px; }
  .show-me::before {
    -webkit-transform-origin: center left;
    -webkit-transform-origin: center left;
    -webkit-transform: rotate(43deg);
    transform: rotate(43deg); }
  .show-me::after {
    left: 30%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    -webkit-transform: rotate(-43deg);
    transform: rotate(-43deg); }

@-webkit-keyframes showMeAnimation {
  50% {
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px); } }

@-moz-keyframes showMeAnimation {
  50% {
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px); } }

@keyframes showMeAnimation {
  50% {
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px); } }

.about-section {
  position: relative;
  background-image: url(../img/kids-pattern.jpg);
  background-size: contain; }

.about-section__wrapper {
  width: 100%;
  background-color: rgba(16, 89, 92, 0.9); }

.general-container--about {
  padding: 0 0 50px; }

.about-section__title {
  color: white;
  font-size: 36px;
  text-align: center;
  padding: 25px 0; }
  @media (max-width: 768px) {
    .about-section__title {
      font-size: 28px; } }
  @media (max-width: 550px) {
    .about-section__title {
      font-size: 24px; } }

.about-section__flex-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .about-section__flex-wrapper {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      justify-content: space-around; } }

.about-section__flex-wrapper__item {
  -webkit-flex-basis: 250px;
  flex-basis: 250px;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding: 20px;
  transition: all 0.3s; }
  .about-section__flex-wrapper__item:first-child {
    color: #E0A212; }
  .about-section__flex-wrapper__item:nth-child(2) {
    color: #8cc7df; }
  .about-section__flex-wrapper__item:nth-child(3) {
    color: #ED5858; }
  .about-section__flex-wrapper__item:last-child {
    color: #60E080; }
  .about-section__flex-wrapper__item img {
    width: 80%;
    height: 80%; }
    @media (max-width: 768px) {
      .about-section__flex-wrapper__item img {
        width: 50%;
        height: 50%; } }
  .about-section__flex-wrapper__item span {
    display: block;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
  .about-section__flex-wrapper__item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  @media (max-width: 768px) {
    .about-section__flex-wrapper__item {
      -webkit-flex-basis: 300px;
      flex-basis: 300px;
      margin-bottom: 25px; } }
  @media (max-width: 500px) {
    .about-section__flex-wrapper__item {
      -webkit-flex-basis: 250px;
      flex-basis: 250px; } }

.about-us-passage {
  width: 45em;
  max-width: 100%;
  text-align: center;
  margin: 0 auto 30px;
  color: white;
  font-size: 20px;
  font-weight: 300; }
  @media (max-width: 550px) {
    .about-us-passage {
      font-size: 14px; } }

.blog-section {
  background-image: url(../img/kids-pattern.jpg);
  background-size: 20%;
  border-bottom: 2px solid #68238e; }

.blog-section-wrapper {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); }

.blog-section-nav {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  text-align: center;
  display: -webkit-flex;
  display: flex; }

.blog-section-nav__item {
  -webkit-flex-basis: 200px;
  flex-basis: 200px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  line-height: 50px;
  border-right: 1px solid #ccc;
  background-color: white;
  color: #68238e; }
  .blog-section-nav__item:hover {
    background-color: #68238e;
    color: white; }
  .blog-section-nav__item:hover svg {
    fill: white; }
  .blog-section-nav__item:last-child {
    border: none; }
  .blog-section-nav__item svg {
    width: 25px;
    height: 25px;
    fill: #68238e;
    display: none; }
    @media (max-width: 550px) {
      .blog-section-nav__item svg {
        display: inline; } }
  .blog-section-nav__item .blog-icon {
    font-size: 20px;
    display: none; }
    @media (max-width: 550px) {
      .blog-section-nav__item .blog-icon {
        display: block; } }

@media (max-width: 550px) {
  .category-title {
    display: none; } }

.blog-section-nav__item.active {
  background-color: #68238e;
  color: white; }
  .blog-section-nav__item.active svg {
    fill: white; }

.entries-holder {
  width: 600px;
  max-width: 100%;
  margin: 20px auto;
  display: none;
  padding: 0 10px;
  background-color: white;
  background-image: none; }

.entries-holder.active {
  display: block; }

.entry {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10px; }

.date-author, .entry-title, .read-more-btn {
  display: block; }

.date-author {
  color: #444;
  font-size: 14px; }

.entry-title {
  margin: 10px 0; }
  .entry-title:hover {
    text-decoration: underline; }

.read-more-btn {
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #68238e;
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  border-radius: 5px; }

.more-entries-btn {
  display: inline-block;
  border: 2px solid #68238e;
  padding: 10px 50px;
  border-radius: 5px; }

.photo-section {
  background-image: url(../img/kids-pattern.jpg);
  background-size: 20%;
  border-bottom: 2px solid #68238e; }

.photo-section-wrapper {
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9); }

.general-container--photo {
  text-align: center; }

.photo-section__title {
  display: block;
  padding-bottom: 40px;
  font-size: 2.5em;
  color: #68238e; }
  @media (max-width: 768px) {
    .photo-section__title {
      font-size: 28px; } }
  @media (max-width: 550px) {
    .photo-section__title {
      font-size: 24px; } }

.photos-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: center;
  align-content: center; }
  @media (max-width: 768px) {
    .photos-wrapper {
      -webkit-justify-content: center;
      justify-content: center; } }

.photo {
  -webkit-flex-basis: 250px;
  flex-basis: 250px;
  height: 150px;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .photo {
      margin: 20px; }
      .photo:nth-child(n+7) {
        display: none; } }
  @media (max-width: 500px) {
    .photo {
      -webkit-flex-basis: 150px;
      flex-basis: 150px;
      height: 100px;
      margin: 10px; } }
  @media (max-width: 354px) {
    .photo {
      -webkit-flex-basis: 120px;
      flex-basis: 120px;
      height: 80px; } }

.contacts-section {
  background-image: url(../img/kids-pattern.jpg);
  background-size: 20%; }

.contacts-section-wrapper {
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9); }

.text-container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 550px) {
    .text-container {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; } }

.text-container__address, .text-container__phone, .text-container__social {
  -webkit-flex-basis: 400px;
  flex-basis: 400px;
  margin-bottom: 20px; }

.contact-icon {
  float: left;
  width: 20%; }

.text-holder span {
  display: block;
  text-align: center;
  color: #68238e; }

.contact-title {
  font-family: 'Open Sans Condensed', sans-serif; }

.map {
  width: 70%;
  height: 400px;
  margin: 20px auto; }
  .map iframe {
    width: 100%;
    height: 100%; }
  @media (max-width: 770px) {
    .map {
      width: 100%; } }
  @media (max-width: 365px) {
    .map {
      margin: 0 auto; } }

.social-link {
  display: block;
  position: relative; }

a[href^="mailto"] {
  color: #68238e; }

footer {
  background-image: url(../img/kids-pattern.jpg);
  background-size: 20%;
  font-weight: 700; }
  @media (max-width: 768px) {
    footer {
      text-align: center; } }

.footer-wrapper {
  background-color: rgba(41, 14, 56, 0.9);
  color: white;
  padding: 20px 0; }

.blog-post-body {
  position: relative;
  padding-bottom: 60px;
  background-image: url(../img/kids-pattern.jpg);
  background-attachment: fixed;
  background-size: 10%;
  min-height: 100vh; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%; }

.header-not-main {
  margin-top: 0;
  position: relative;
  background-color: white; }

.logo-not-main {
  color: #68238e;
  top: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.blog-post {
  width: 100%; }

.post-content {
  position: relative;
  width: 650px;
  max-width: 100%;
  margin: 20px auto;
  padding-bottom: 20px;
  z-index: 100;
  background-color: white;
  z-index: 100;
  box-shadow: 1px 1px 5px #ccc; }

.blog-post-title {
  display: block;
  font: 36px/1.5 "PT serif", Arial;
  padding: 10px;
  text-align: center; }
  @media (max-width: 768px) {
    .blog-post-title {
      font-size: 28px; } }
  @media (max-width: 550px) {
    .blog-post-title {
      font-size: 20px; } }

.post-content p {
  font: 20px/1.5 "Didact Gothic", Verdana, serif;
  margin: 0.75em; }
  @media (max-width: 768px) {
    .post-content p {
      font-size: 16px; } }
  @media (max-width: 550px) {
    .post-content p {
      font-size: 14px; } }

.blog-post-photos {
  position: relative;
  width: 650px;
  margin: 0 auto;
  max-width: 100%;
  z-index: 200;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }
  .blog-post-photos img {
    -webkit-flex-basis: 250px;
    flex-basis: 250px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    height: 200px;
    margin: 20px; }
    .blog-post-photos img:nth-child(odd) {
      margin-left: 0; }
      @media (max-width: 550px) {
        .blog-post-photos img:nth-child(odd) {
          margin-left: 20px; } }
    .blog-post-photos img:nth-child(even) {
      margin-right: 0; }
      @media (max-width: 550px) {
        .blog-post-photos img:nth-child(even) {
          margin-right: 20px; } }

.footer-not-main {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 200; }

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none; }

.image-viewer {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  background-color: white;
  z-index: 2000;
  object-fit: cover;
  display: none; }
  @media (max-width: 768px) {
    .image-viewer {
      width: 100%;
      height: 70%; } }
  @media (max-width: 550px) {
    .image-viewer {
      width: 100%;
      height: 50%; } }

.current-image {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2500; }

.close-btn {
  position: absolute;
  right: -60px;
  top: 0;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer; }
  @media (max-width: 550px) {
    .close-btn {
      background-color: #68238e; } }
  .close-btn::before, .close-btn:after {
    content: "";
    display: block;
    width: 120%;
    height: 10%;
    background-color: white;
    position: absolute;
    top: 50%;
    -webkit-transform-origin: center;
    transform-origin: center; }
    @media (max-width: 550px) {
      .close-btn::before, .close-btn:after {
        background-color: #68238e; } }
  .close-btn::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close-btn::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.left-controller, .right-controller {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 60px;
  cursor: pointer;
  z-index: 3000; }

.left-controller {
  left: -50px; }

.right-controller {
  right: -50px; }

.left-controller::before, .left-controller::after,
.right-controller::before, .right-controller::after {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  z-index: 3000; }

.left-controller::before, .left-controller::after {
  right: 0;
  -webkit-transform-origin: right center;
  transform-origin: right center; }

.left-controller::before {
  -webkit-transform: rotate(-39deg);
  transform: rotate(-39deg); }

.left-controller::after {
  top: 100%;
  -webkit-transform: rotate(39deg);
  transform: rotate(39deg); }

.right-controller::before, .right-controller::after {
  -webkit-transform-origin: left center;
  transform-origin: left center; }

.right-controller::after {
  top: 100%;
  -webkit-transform: rotate(-39.5deg);
  transform: rotate(-39.5deg); }

.right-controller::before {
  -webkit-transform: rotate(39.5deg);
  transform: rotate(39.5deg); }

.custom-body {
  position: relative;
  padding-bottom: 60px;
  background-image: url(../img/kids-pattern.jpg);
  background-attachment: fixed;
  background-size: 10%;
  min-height: 100vh; }

.custom-content {
  z-index: 200;
  position: relative;
  width: 900px;
  max-width: 100%;
  margin: 10px auto;
  overflow: hidden;
  padding: 30px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: -webkit-flex-start;
  background-color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 550px) {
    .custom-content {
      justify-content: center; } }

.custom-title {
  font-size: 24px;
  display: block;
  padding-bottom: 20px;
  text-align: center; }

.custom-list {
  list-style: none;
  counter-reset: my-counter;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-left: 100px; }

.custom-item {
  counter-increment: my-counter;
  position: relative;
  margin: 50px 0;
  font-weight: 700;
  color: #68238e; }
  .custom-item:first-child {
    margin-top: 0; }
  .custom-item:last-child {
    margin-bottom: 0; }
  .custom-item::before {
    content: counter(my-counter);
    font-size: 3em;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -80px; }

.custom-icon {
  margin-right: 50px;
  text-align: center;
  color: #E0A212;
  border: 3px solid;
  border-radius: 10px;
  padding: 20px;
  height: 200px;
  background-color: white; }
  .custom-icon img {
    height: 80%; }
  .custom-icon span {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700; }
  @media (max-width: 700px) {
    .custom-icon {
      display: none; } }

.custom-content__item {
  -webkit-flex-basis: 200px;
  flex-basis: 200px; }

.timetable-item {
  position: relative;
  margin: 10px 0;
  color: #68238e;
  margin-left: 100px;
  font-weight: 700; }
  .timetable-item::before {
    content: attr(data-time);
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -150px;
    color: white;
    background-color: #68238e;
    padding: 3px;
    width: 100px;
    text-align: center; }
    @media (max-width: 500px) {
      .timetable-item::before {
        left: -115px; } }
  @media (max-width: 500px) {
    .timetable-item {
      margin-left: 5px; } }

.custom-icon--timetable {
  color: #ED5858; }

.custom-item--services {
  color: #8cc7df; }

.schedule-section {
  position: relative;
  z-index: 200; }

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 20px 0;
  position: relative;
  display: none; }

table.active {
  display: table; }

th, td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
  background-color: white; }

th {
  background-color: #ccc; }

.mobile-title {
  display: none; }
  @media (max-width: 550px) {
    .mobile-title {
      display: inline; } }
